<div class="container-fth">
    <header class="header-wbg">
        <nav class="content">
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="">
            </a>
            <a href="create-room" class="btn-black">
                Criar uma Sala
            </a>
        </nav>
    </header>
    <main class="container-sn">
        <div class="content">
            <div class="create-room">
                <h2>Entre como participante<span>e faça perguntas!</span></h2>
                <form action="/enterroom" method="POST">
                    <input type="number" name="roomId" id="room-id" placeholder="Insira o código da sala">
                    <button class="btn-gradient">
                        Entrar em uma Sala
                    </button>
                </form>
            </div>
            <div class="welcome">
                <h2>Bem-vindo ao Rocket.Q!</h2>
                <p>Gerence uma sala de perguntas<span>anônimas ou entre em uma</span><span>agora mesmo.</span></p>
            </div>
        </div>
        <div class="ball bottom"></div>
        <div class="ball left"></div>
        <div class="ball middle"></div>
        <div class="ball top"></div>
        <div class="ball rocket"></div>
        <div class="moon"></div>
        <div class="spaceman"></div>
    </main>
</div>