<div class="noquestion">
    <img src="/images/noquestion.svg" alt="Sem perguntas">
    <p>A galáxia nunca esteve tão solitária...</p>
    <p>Faça a sua primeira pergunta e compartilhe o <br>código da sala para seus amigos!</p>
</div>