<div class="noquestion">
<img src="/images/noquestion.svg" alt="Sem perguntas">
<p>Nenhuma pergunta por aqui...</p>
<p>Faça a sua primeira pergunta e envia o <br>código dessa sala para outras pessoas!</p>
</div>