.modal-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    width: 100vw; 
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(4, 9, 17, .8);
    display: flex;
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper .modal {
    width: min(59rem, 90%);
    margin: auto;
    background: #240246;
    border-radius: .8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 6.4rem 8.6rem;
}

.modal-wrapper .modal h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: #fff;
}

.modal-wrapper .modal p {
    margin-bottom: 2.4rem;
    color: #fff;
}

.modal-wrapper .modal input {
    width: min(30.2rem, 70%);
    padding: 1.3rem 1.6rem;
    outline: none;
    border: .2rem solid #fff;
    margin-bottom: 4rem;
    border-radius: 1rem;
    color: purple;
}

.modal-wrapper .modal input::placeholder {
    font-family: 'Poppins';
    line-height: 2.2rem;    
    
}

.modal-wrapper .modal form .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal form .buttons .button{
    margin-right: .8rem;
}

.btn-w-modal {
    color: rgb(0, 0, 0);
    /* height: 0; */
    font-size: 1.4rem;
    line-height: 2.5rem;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    border-radius: 1rem;
    font-weight: 600;
    /* border: .2rem solid #fff; */
    margin-right: 2rem;
    cursor: pointer;
}

.btn-w-modal:hover {
    background: purple;   
    color: #fff;
}

.btn-b-modal{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.5rem;
    background: #000;
    /* padding: 0 2rem; */
    width: 20rem;
    
    height: 4rem;
    border-radius: 1rem;
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
    text-align: center;
}

.btn-b-modal:hover {
    background-color: purple;
}
